<p>Paste mnemonic seed here:</p>

<mat-form-field class="full-width">
  <mat-chip-list #chipList aria-label="Words selection">
    <mat-chip *ngFor="let word of words" [selectable]="selectable"
             [removable]="removable" (removed)="remove(word)">
      {{word.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="New word..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
